html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
button:focus{
	outline: none;
}
.row{
	width: 100%;
}
h1{
	font-family: 'Jost', sans-serif;
	font-size: 72px;
	font-weight: 700;
}
h2{
	font-family: 'Jost', sans-serif;
	font-size: 48px;
	font-weight: 500;
}
h3{
	font-family: 'Jost', sans-serif;
	font-size: 36px;
	font-weight: 500;
}
h4{
	font-family: 'Jost', sans-serif;
	font-size: 24px;
	font-weight: 500;
}
h5{
	font-family: 'Jost', sans-serif;
	font-size: 15px;
	font-weight: 500;
}
.btn-reset {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	outline: none;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	overflow-x: hidden;
}
body {
	line-height: 1;
	height: 100%;
	  margin: 0;
	  overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hide{
	opacity: 1;
}
.btn-top{
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 900;
	font-family: sans-serif;
	font-size: 24px;
	line-height: 40px;
	text-transform: uppercase;
	color: #151515;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #151515;
	border-radius: 50px;
}
.row{
	margin-left: 0;
	margin-right: 0;
}
.container{
	margin: 0 auto;
	width: 80%;
}
/* Sidebar */
.sidebar{
	position: fixed;
	top: 0;
	background-color: #F6F8F9;
	right: 0;
	width: 200px;
	height: 100%;
	right: -200px;
	transition: .5s;
	z-index: 999;
	border-left: 1px solid #D7D8DA;
	display: none;
}
.sidebar ul{
	padding: 20px 0;
	list-style: none;
}
.sidebar ul li a{
	padding: 10px 20px;
	color: #858585;
	text-decoration: none;
	font-family: 'Jost', sans-serif;
	font-size: 24px;
	line-height: 48px;
	transition: .3s;
}
.sidebar li a:hover{
	color: #151515;
}
.active{
	right: 0;
}
.sidebarBtn{
	position: absolute;
	top: 0px;
	left: -50px;
	width: 50px;
	height: 50px;
	border: 1px solid #D7D8DA;
	background-color: #D7D8DA;
	box-sizing: border-box;
	cursor: pointer;

}
.sidebarBtn span{
	display: block;
	width: 35px;
	height: 3px;
	background-color: #000000;
	position: absolute;
	top: 24px;
	transition: .3s;
}
.sidebarBtn span:before{
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #000000;
	transition: .3s;
}
.sidebarBtn span:after{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #000000;
	transition: .3s;
}

.sidebarBtn.toggle span{
	background: transparent;
}
.sidebarBtn.toggle span:before{
	top: 0;
	transform: rotate(45deg);
}
.sidebarBtn.toggle span:after{
	top: 0;
	transform: rotate(-45deg);
}
/* PAGE */
.page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	background-color: #FFFFFF;
}
/* HEADER */
.header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.header .container-fluid{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 40px;
}
.nav{

}
.nav-list{
	display: flex;
}
.nav__link{
	position: relative;
	font-size: 20px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	-webkit-text-decoration-line: none;
	        text-decoration-line: none;
	display: inline-block;
	font-family: 'Jost', sans-serif;
}
.nav__link:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: -5px;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #000000;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.nav__link:hover{
	text-decoration: none;
	color: #000000;
}
.nav__link:hover:after { 
	width: 100%; 
	left: 0; 
}
.nav__item:not(:last-child){
	margin-right: 20px;
}
.logo{
	display: inline-block;
	width: 117px;
	height: 22px;
}
.logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.shop-nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.shop-nav__link{
	display: inline-block;
	width: 20px;
	height: 20px;
	text-decoration: none;
}
.shop-nav__link--user{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}
.shop-nav__link--user:hover{
	color: #000;
}
.shop-nav__link--cart{
	display: flex;
	flex-direction: row;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
}
.shop-nav__link--cart:hover{
	color: #000000;
	text-decoration: none;
}
.shop-nav__item:not(:last-child){
	margin-right: 25px;
}
.shop-nav__item:last-child{
	margin-right: 25px;
}
.cart_quantity{
	background-color: #000000;
	color: #ffffff;
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	text-align: center;
	margin-left: 5px;
	line-height: 20px;
	font-size: 15px;
	font-family: 'Jost', sans-serif;
}
/* HERO */
main{
	margin-top: 90px;
}
.hero{
	position: relative;
	height: 100vh;
	background-color: #D9D9D7;
}
.hero::before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(#000, 0.05);
}
.hero-container{
	position: relative;
	height: 100%;
	display: flex;
	padding: 0 40px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.hero-title{
	max-width: 535px;
	color: #151515;
	z-index: 99;
}
.hero-desc{
	font-family: 'Jost', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #151515;
	margin-top: 45px;
	color: #151515;
	z-index: 99;
}
.hero-image{
	position: absolute;
	right: 50px;
	bottom: 0;
}
/* SALES */
.sales{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	padding: 50px 0;
}
.sale-block{
	position: relative;
	width: 100%;
	height: 300px;
	padding: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.sale-grey{
	background-color: #CFD1D0;
}
.sale-purple{
	background-color: #e9e4df;
}
.sale-lgrey{
	background-color: #eeeeec;
}
.sale-img{
	position: absolute;
	right: 15px;
	bottom: 0;
	height: 100%;
	width: auto;
}
.sale-text{
	z-index: 99;
}
.sale-text h3{
	max-width: 200px;
	color: #151515;
}
.sale-text a{
	margin-top: 30px;
	color: #151515;
}
/* PRODUCTS */
.products__btn{
	font-size: 24px;
	font-family: 'Jost', sans-serif;
	font-weight: 400;
}
.products__item{
	position: relative;
	font-size: 20px;
	margin: 0 10px;
	color: #000000;
	text-decoration: none;
	-webkit-text-decoration-line: none;
	        text-decoration-line: none;
	display: inline-block;
	font-family: 'Jost', sans-serif;
}
.products__item:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: -5px;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #000000;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.products__item:hover{
	text-decoration: none;
	color: #000000;
}
.products__item:hover:after { 
	width: 100%; 
	left: 0; 
}
.products{
	position: relative;
	width: 100%;
	margin-bottom: 100px;
}
.btn-reset{
	background: transparent;
	border: none;
	font-family: 'Jost', sans-serif;
	color: #000000;
	font-size: 20px;
}
.products__container{
	padding-top: 30px;
	padding-bottom: 30px;
}
.product__nav{
	display: flex;
	justify-content: center;
}
.product{
	margin-bottom: 80px;
	position: relative;
}
.product__image{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f8f8f8;
	height: 430px;
	margin-bottom: 30px;
	position: relative;
}
.image-overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: 0.4s;
}
.image-overlay:hover{
	background-color: rgba(215, 8, 8, 0.1);
}
.product__image img{
	-o-object-fit: cover;
	   object-fit: cover;
	max-height: 100%;
	max-width: 100%;
}
.product__title{
	font-family: 'Jost', sans-serif;
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	display: block;
}
.product__price{
	font-family: 'Jost', sans-serif;
	color: #000000;
	font-weight: 700;
	font-size: 16px;
	margin-top: 15px;
	display: block;
}
.product__price strike{
	font-family: 'Jost', sans-serif;
	color: #959595;
	font-size: 16px;
	margin-left: 5px;
	font-weight: 400;
	text-decoration: line-through;
}
.btn-reset{
	text-align: center;
}
.more{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.products__more{
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #a2a2a2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.products__more img{
	height: 20px;
	width: auto;
	margin-top: 10px;
}
.new{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
	font-family: 'Jost', sans-serif;
	color: #151515;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.new img{
	margin-right: 5px;
}
.best{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
	font-family: 'Jost', sans-serif;
	color: #151515;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.best img{
	margin-right: 5px;
}
.rate{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
	font-family: 'Jost', sans-serif;
	color: #151515;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.rate img{
	margin-right: 5px;
}
.hot{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
	font-family: 'Jost', sans-serif;
	color: #151515;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.hot img{
	margin-right: 5px;
}
.sale-tag{
	font-family: 'Jost', sans-serif;
	color: #151515;
	font-weight: 700;
	font-size: 12px;
	width: 50px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #151515;
}
/* ADDS */
.adds{
	position: relative;
	width: 100%;
}
.shop-banners__container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.shop-banner{
	width: 50%;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 400px;
	z-index: 100;
	padding: 20px;
	align-items: center;
	justify-content: center;
	background-color: #F6F8F9;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	text-decoration: none;
}
.banner-men{
	background-image: url('../images/adds/add1.jpg');
}
.banner-women{
	background-image: url('../images/adds/add2.jpg');
}
.shop-banner-title{
	font-weight: 600;
	color: #ffffff;
	z-index: 150;
}
.banner-overlay{
	background-color: #d70808;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 120;
}
.shop-banner-text{
	margin-top: 20px;
	font-family: 'Jost', sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #ffffff;
	z-index: 150;
}
/* FOOTER */
.footer{
	position: relative;
	width: 100%;
}
.upper-footer{
	padding: 100px 0;
	position: relative;
}
.footer__container{
	width: 80%;
	position: relative;
	margin: 0 auto;
}
.upper-footer-block{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
}
.upper-footer-block h4{
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #151515;
	display: block;
	width: 100%;
	text-align: left;
	text-transform: uppercase;
}
.upper-footer-block p{
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #151515;
	display: block;
	width: 100%;
	text-align: left;
}
.upper-footer__ul{
	margin-top: 25px;
	list-style: none;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.upper-footer__ul li{
	margin: 13px 0;
	font-family: 'Jost', sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #454545;
}
.lower-footer{
	border-top: 1px solid #eeeeee;
	position: relative;
	width: 100%;
	padding: 25px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.lower-footer__ul{
	margin: 20px 0;
}
.lower-footer__ul li{
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #151515;
	display: inline-block;
}
.lower-footer__ul li:not(:last-child){
	margin-right: 40px;
}

.lower-footer__ul_links li{
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #151515;
	display: inline-block;
}
.lower-footer__ul_links li:not(:last-child){
	margin-right: 40px;
}
/* products */

.catalog-hero{
	position: relative;
	width: 100%;
}
.hero-catalog__slider{
	overflow: hidden;
	position: relative;
	width: 100%;
	background-color: #f8f8f8;
}
.catalog__hero-container{
	width: 60%;
	position: relative;
	margin: 0 auto;
}
.catalog-slide{
	padding: 110px 108px;
	position: relative;
	width: 100%;
	height: 100%;
}
.catalog-slide-title{
	color: #151515;
	position: relative;
	z-index: 400;
	font-weight: 700;
	font-size: 36px;
	max-width: 380px;
}
.catalog-slide-desc{
	color: #454545;
	position: relative;
	font-weight: 500;
	z-index: 400;
	font-size: 15px;
	max-width: 380px;
	line-height: 24px;
	font-family: 'Jost', sans-serif;
	margin-top: 20px;
}
.catalog-slide-image{
	position: absolute;
	right: 25%;
	max-height: 100%;
	height: auto;
	width: auto;
	z-index: 100;
	top: 0;
	float: right;
	transform: translate(50%, 0%);
}
.catalog-slide-btns{
	display: flex;
	position: relative;
	z-index: 200;
	align-items: center;
	margin-top: 50px;
}
.catalog-slide__link{
	display: inline-block;
	font-size: 15px;
	width: 145px;
	color: #151515;
	font-weight: 500;
	text-decoration: none;
	height: 48px;
	border: 1px solid #151515;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
	font-family: 'Jost', sans-serif;
	transition: .4s;
}
.catalog-slide__link:hover{
	color: #d3d3d3;
	background-color: #151515;
	text-decoration: none;
}
.catalog-slide__link:last-child{
	margin-left: 15px;
}
.swiper-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	background-color: transparent;
	border: 1px solid #151515;
	color: #151515;
	width: 40px;
	height: 40px;
	z-index: 850;
	cursor: pointer;
	transition: .4s;
}
.swiper-button:hover{
	background-color: #151515;
	color: #fefefe;
}
.swiper-button-prev-unique{
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translate(-50%, -50%);
}
.swiper-button-next-unique{
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translate(-50%, -50%);
}
/* BREADCRUMBS */
.breadcrumbs{
	width: 100%;
	padding: 35px 0;
	position: relative;
	background-color: transparent;
}
.breadcrumbs-container{
	border-bottom: 1px solid #eeeeee;
	width: 100%;
	position: relative;
	padding-bottom: 30px;
}
.breadcrumbs__link{
	color: #858585;
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.4s;
}
.breadcrumbs__list{
	display: flex;
	align-items: center;
}
.breadcrumbs__link:hover{
	color: #000000;
	text-decoration: none;
}
.breadcrumbs__item{
	position: relative;
	padding-right: 35px;
}
.breadcrumbs__item::after{
	content: '/';
	position: absolute;
	font-family: 'Jost', sans-serif;
	right: 0;
	top: 0;
}
.breadcrumbs__item:not(:last-child){
	margin-right: 35px;
}
.breadcrumbs__item:last-child{
	color: #115511;
}
.breadcrumbs__item:last-child::after{
	content: '';
}
/* CATALOG FILTERS */
.catalog-filter{
	position: relative;
	width: 100%;
}
.catalog-filters{
	position: relative;
	width: 100%;
}
.hide-filters{
	margin-bottom: 18px;
	padding-left: 24px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	background-image: url("../images/close.png");
	background-position: left center;
	background-repeat: no-repeat;
}
.catalog-filter__caption{
	display: flex;
	align-items: center;
}
.catalog-filter__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
.catalog-filter__title{
	display: inline-block;
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}
.catalog-filter__quantity{
	background-color: #000000;
	color: #ffffff;
	font-family: 'Jost', sans-serif;
	width: 20px;
	height: 20px;
	font-size: 10px;
	margin-left: 5px;
	line-height: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	border-radius: 25px;
}
.custom-checkbox{
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.visually-hidden{
	display: none;
}
.custom-checkbox__text{
	position: relative;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Jost', sans-serif;
	color: #858585;
	position: relative;
    padding-left: 20px;
    transition: color 0.3s;
}
.custom-checkbox__input:checked+span {
    color: #151515;
}
.custom-checkbox__input:checked+span::before {
    border-color:  #151515;
}
.custom-checkbox__input:checked+span::after {
	color:  #151515;
	content: "\2713";
}
.custom-checkbox__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    border: 2px solid #aaa;
    width: 14px;
    height: 14px;
}
.custom-checkbox__text::after {
    /* content: "\2713"; */
  	position: absolute;
    left: 2px;
    top: 2px;
    color: #aaa;
}
.custom-checkbox__text:hover {
    color: #151515;
    transition: color 0.3s;
}
.catalog-filter__items{
	-moz-columns: 2;
	     columns: 2;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
}
.catalog-filter__items-disc{
	-moz-columns: 1;
	     columns: 1;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
}
.catalog-filter__item {
    margin-bottom: 20px;
}
.catalog-filter__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;
}
.catalog-filter__toggle::before {
    content: "";
	position: absolute;
    left: 50%;
	top: 0;
	width: 2px;
	background-color: #aaa;
    height: 100%;
    transform: translateX(-50%);
}
.catalog-filter__toggle::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #aaa;
    transform: translateY(-50%);
}
/* PRODUCTS MAIN */
.catalog-product{
	width: 100%;
	height: 510px;
	position: relative;
	display: flex;
	flex-direction: column;
}
.catalog-product-image{
	width: 100%;
	height: 282px;
	position: relative;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.catalog-product-image img{
	max-width: 100%;
	max-height: 100%;
}
.pagination{
	margin: 0 auto;
	display: flex;
	margin-bottom: 100px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.page-item{
	width: 40px;
	height: 40px;
	color: #858585;
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	margin: 0 4px;
}
.page-item:hover .page-link{
	background-color: #151515;
	color: #c1c1c1;
	border: 2px solid #151515;
}
.page-link{
	color: #858585;
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	text-decoration: none;
	transition: 0.4s;
	border: 2px solid #eeeeee;
}
.prev-btn{
	width: 75px;
	height: 40px;
	border: 2px solid #eeeeee;
	color: #858585;
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	text-align: center;
}
.next-btn{
	width: 75px;
	height: 40px;
	border: 2px solid #eeeeee;
	color: #858585;
	font-family: 'Jost', sans-serif;
	font-size: 14px;
	text-align: center;
}
.catalog-filter--open .catalog-filter__bottom{
	display: block;
}
.catalog-filter--open .catalog-filter__toggle::before{
	display: none;
}
.catalog-filter__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;
}
.catalog-filter__toggle::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: grey;
    transform: translateX(-50%);
}

.catalog-filter__toggle::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: grey;
    transform: translateY(-50%);
}
.catalog-filter__bottom {
    display: none;
    padding-bottom: 34px;
}
/* THUMBNAIL */
.thumbnail-product{
	position: relative;
	margin-top: 50px;
	margin-bottom: 100px;
}
.card-slider{
	display: flex;
}
.card-slider__thumb{
	margin-bottom: 10px;
}
.card-slider__main{
	margin-left: 15px;
	width: 100%;
}
.card__left{
	width: 100%;
	position: relative;
}
.swiper-slide img{
	max-width: 100%;
}
/* CARD INFO */
.card-info__title{
	font-weight: 500;
	margin-bottom: 15px;
}
.card-info__rate{
	font-size: 15px;
	font-family: 'Jost', sans-serif;
}
.card-info__price{
	display: flex;
	align-items: flex-end;
	margin-top: 25px;
}
.info-price__current{
	font-size: 24px;
	font-family: 'Jost', sans-serif;
	color: #151515;
	font-weight: 700;
}
.info-price__old{
	font-size: 16px;
	font-family: 'Jost', sans-serif;
	color: #959595;
	font-weight: 400;
	text-decoration: line-through;
	margin-left: 20px;
}
.card-info__descr{
	margin-top: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	font-family: 'Jost', sans-serif;
	color: #151515;
}
/* COLOR SELECT */
.color-select{
	margin-top: 20px;
	position: relative;
	width: 100%;
}
.color-select__selected{
	margin-top: 50px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Jost', sans-serif;
	color: #898989;
}
.color-select__selected span{
	color: #151515;
	text-transform: uppercase;
}
.color-select__list{
	display: flex;
	align-items: center;
	margin-top: 17px;
	margin-bottom: 17px;
}
.color-select__item:not(:last-child){
	margin-right: 15px;
}
.color-select__btn{
	width: 28px;
	position: relative;
	height: 28px;
	border-radius: 100%;
	border: 1px solid #ccc;
	outline:none;
}
.color-select__btn::before{
	content: '';
	position: absolute;
	left: 50%;
	display: block;
	top: 50%;
	width: 36px;
	border-radius: 100%;
	height: 36px;
	border: 1px solid #ccc;
	transform: translate(-50%, -50%);
	transition: border 0.3s;
}
.color-select__btn::after{
	content: '';
	border: none;
	outline: none;
}
.color-select__btn:hover::before{
	border: 1px solid #151515;
	transition: border 0.3s;
}
.color-select__btn--active::before{
	border: 1px solid #151515;
	transition: border 0.3s;
}
/* SIZE SELECT */
.size-select{
	margin-top: 20px;
	position: relative;
	width: 100%;
}
.size-select__selected{
	margin-top: 50px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Jost', sans-serif;
	color: #898989;
	margin-bottom: 17px;
}
.size-select__selected span{
	color: #151515;
	text-transform: uppercase;
}
.size-select__list{
	display: flex;
	align-items: center;
	margin-top: 17px;
	margin-bottom: 17px;
	position: relative;
}
.size-select__item:not(:last-child){
	margin-right: 10px;
}
.size-select__btn{
	width: 42px;
	position: relative;
	height: 32px;
	outline:none;
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #898989;
}
.size-select__btn::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	transform: translate(0%, 0%);
	transition: border 0.3s;
}
.size-select__btn::after{
	content: '';
	border: none;
	outline: none;
}
.size-select__btn:hover::before{
	border: 1px solid #151515;
	transition: border 0.3s;
}
.size-select__btn--active::before{
	border: 1px solid #151515;
	transition: border 0.3s;
}
/* STEPPER */
.stepper{
	display: flex;
	border: 1px solid #ccc;
	height: 60px;
}
.stepper__input{
	flex-grow: 1;
	border: none;
	font-family: 'Jost', sans-serif;
	font-size: 16px;
    height: 100%;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.stepper__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 16px;
	width: 44px;
	font-weight: 500;
	color: #151515;
}
.stepper__btn--disabled{
	opacity: 0.4;
	pointer-events: none;
}
.to-cart{
	flex-grow: 1;
	display: block;
	margin-top: 20px;
	width: 100%;
	border: 1px solid #151515;
	height: 60px;
	text-align: center;
	font-size: 16px;
	font-family: 'Jost', sans-serif;
	color: #ffffff;
	font-weight: 500;
	line-height: 60px;
	text-transform: uppercase;
	background-color: #151515;
	transition: .4s;
}
.to-cart:hover{
	background-color: transparent;
	color: #151515;
	border: 1px solid #151515;
	font-weight: 500;
}
.to-wishlist{
	flex-grow: 1;
	display: block;
	margin-top: 20px;
	width: 100%;
	border: 1px solid #151515;
	height: 60px;
	text-align: center;
	font-size: 16px;
	font-family: 'Jost', sans-serif;
	color: #ffffff;
	font-weight: 500;
	line-height: 60px;
	text-transform: uppercase;
	background-color: #151515;
	transition: .4s;
}
.to-wishlist:hover{
	background-color: transparent;
	color: #151515;
	border: 1px solid #151515;
	font-weight: 500;
}
.realted-product{
	width: 300px;
	height: 510px;
	position: relative;
	display: flex;
	flex-direction: column;
}
.related-container{
	position: relative;
}
.related-button{
	background-color: transparent;
	border: none;
}
.realted-prev{
	position: absolute;
	font-size: 24px;
	top: 30%;
	left: -10px;
    display: block;
    padding: 0;
    transform: translate(-100%, -50%);
}
.realted-next{
	position: absolute;
	font-size: 24px;
	top: 30%;
	right: -40px;
    display: block;
    padding: 0;
    transform: translate(-100%, -50%);
}
form.layout-newsletter {
    display: flex;
	margin: 25px 0;
	width: 100%;
	flex-grow: 100%;
}
.email-input {
	padding: 0.4em 1em;
    font-size: 16px;
    color: #151515;
    outline: none;
    letter-spacing: 2px;
	border: 1px solid #151515;
	flex-grow: 0.5;
	display: block;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: transparent;
	font-family: 'Jost', sans-serif;
}

.layout-newsletter .btn1 {
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 1px;
	padding: 14px 0;
    border: transparent;
    text-transform: uppercase;
    transition: 0.5s all;
    background: #1e272e;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
	padding: 0.7em 2em;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.product-description{
	position: relative;
	width: 100%;
	background-color: #ffffff;
}
.product-description h3{
	color: #151515;
	position: relative;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 15px;
	font-family: 'Jost', sans-serif;
}
.product-description p{
	color: #151515;
	font-family: 'Jost', sans-serif;
	position: relative;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}